<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoginApi</title>
</head>

<body>
    <div>
        email<input type="email" name="" id="email"> jelszó
        <input type="pass" id="pass">
        <button id="send">submit</button>
    </div>
    <p id="res"></p>
</body>
<script>
    const xhttp = new XMLHttpRequest()
    const Email = document.querySelector("#email")
    const password = document.querySelector("#pass")
    const res = document.querySelector("#res")
    send.addEventListener("click", () => {
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4) {
                res.innerHTML += sessionStorage + this.responseText + "--" + this.status;
                prompt("continue?")
                document.location = "test.html"
            }
        };
        xhttp.open("GET", "http://127.0.0.1:8000/login-" + Email.value + "+" + password.value + "/", true);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send();
    })
</script>

</html>